.slider {
    height: 400px;
	margin: 50px auto 0;
    margin-top: 15px;
	overflow: hidden;
    width: 800px;
}

.slider ul {
    animation: slide 20s infinite alternate ease-in-out;
	display: flex;
	padding: 0;
	width: 400%;
}

.slider li {
	width: 100%;
}

.slider img {
	width: 100%;
}

@keyframes slide {
	0% {margin-left: 0;}
	20% {margin-left: 0;}
	
	25% {margin-left: -100%;}
	45% {margin-left: -100%;}
	
	50% {margin-left: -200%;}
	70% {margin-left: -200%;}
	
	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}

.text {
    color: var(--white);
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
}