/* PALETA DE COLORES
#5c8d4b
#98d26c
#a6d7ba
#c4c9cf
#4f6f96 */

.main {
    height: 100vh;
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.input_text {
    border: solid 3px rgb(70, 151, 151);
    border-radius: 5px;
    box-sizing: border-box;
    font-family: 'Cinzel', serif;
    font-size: 15px;
    font-weight: bold;
    outline: none;
    padding: .8rem;
    width: 300px;
}
.form .label {
    padding-bottom: .2rem;
    padding-top: .7rem;
    color: var(--white);
}

.submit-btn {
    border: 2px solid var(--main-color);
    background-color: var(--btn-bg);
    color: var(--white);
    font-size: 1.2rem;
    margin-top: 1rem;
    padding: .5rem;
    border-radius: .5rem;
    transition: var(--transition);
    cursor: pointer;
}

.submit-btn:hover {
    border: 2px solid var(--btn-bg);
    background-color: var(--white);
    color: var(--btn-bg);
}