.info {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.video {
    float: right;
    margin-right: 10px;
    margin-top: 10px;
}

.text-section {
    padding: 1.5rem;
}

h3 {
    padding: 2.5rem 0 1rem 0;
    color: var(--white);
}

p {
    color: var(--white);
    font-size: 16px;
}

p a {
    color: var(--hover-color);
}

.map {
    border: 3px #4f6f96 solid;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    height: 450px;
    width: 1200px;
}

.mapContainer {
    text-align: center;
}

.sub_header {
    color: #4f6f96;
}